#!/bin/bash

ip addr add {{ r1_lo0 }} dev lo

ip addr add {{ r1_r2_rr_net }}1/30 dev eth0
ip addr add {{ r1_r3_rr_net }}1/30 dev eth1
ip addr add {{ r1_r4_rr_net }}1/30 dev eth2

ip link set lo up
ip link set eth0 up
ip link set eth1 up
ip link set eth2 up

vtysh << EOF

configure terminal

##### OSPF CONFIGURATION ######

router ospf
 ospf router-id 1.1.1.1
 passive-interface lo

interface lo
 ip ospf area 0

interface eth0
 ip ospf area 0

interface eth1
 ip ospf area 0

interface eth2
 ip ospf area 0

 
###### BGP CONFIGURATION ######


router bgp 65000
 bgp router-id 1.1.1.1

 neighbor LEAFS peer-group
 neighbor LEAFS remote-as 65000
 neighbor LEAFS update-source lo

 neighbor 2.2.2.2 peer-group LEAFS
 neighbor 3.3.3.3 peer-group LEAFS
 neighbor 4.4.4.4 peer-group LEAFS

 address-family l2vpn evpn

  neighbor LEAFS activate
  neighbor LEAFS route-reflector-client

 exit-address-family


end
write memory

EOF