#!/bin/bash

ip addr add {{ r2_lo0 }} dev lo

ip addr add {{ r1_r2_rr_net }}2/30 dev eth0

ip link set lo up
ip link set eth0 up

vtysh << EOF

configure terminal

##### OSPF CONFIGURATION ######

router ospf
 ospf router-id 2.2.2.2
 passive-interface lo

interface lo
 ip ospf area 0

interface eth0
 ip ospf area 0

###### BGP CONFIGURATION ######


router bgp 65000
 bgp router-id 2.2.2.2

 neighbor 1.1.1.1 remote-as 65000
 neighbor 1.1.1.1 update-source lo

 address-family l2vpn evpn

  neighbor 1.1.1.1 activate
  advertise-all-vni

 exit-address-family


end
write memory

EOF