#!/bin/bash

ip addr add {{ r4_lo0 }} dev lo

ip addr add {{ r1_r4_rr_net }}2/30 dev eth0

ip link set lo up
ip link set eth0 up

vtysh << EOF

configure terminal

router ospf
 ospf router-id 4.4.4.4
 passive-interface lo

interface lo
 ip ospf area 0

interface eth0
 ip ospf area 0

end
write memory

EOF