#!/bin/bash

vtysh << EOF

configure terminal

interface eth1
ip address {{ r1_ip }}{{r1_submask }}

interface eth0
 ip address {{ backbone1 }}1{{ backbone1_submask }}
exit


# next hop
ip route {{ area2 }}0{{ area2_submask }} {{ backbone1 }}2


end
write memory

EOF
