#!/bin/bash

vtysh << EOF


configure terminal

interface eth1
ip address {{ r2_ip }}{{r2_submask }}

interface eth0
 ip address {{ backbone1 }}2{{ backbone1_submask }}
exit


# next hop
ip route {{ area1 }}0{{ area1_submask }} {{ backbone1 }}1


end
write memory    


EOF