FROM    {{ image_os }}:{{ image_version }}

RUN     apk add --no-cache busybox

ENV     HOSTNAME {{ hostname }}
RUN     echo "{{ hostname }}" > /etc/hostname \
            && echo "127.0.0.1 {{ hostname }}" >> /etc/hosts

CMD     ["busybox", "sh"]